<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>create page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>

<p><a href="{{ url_for('view') }}">View Product</a></p>

<form name="new_post" action="http://localhost:5000/create" method="post">
    <p>ID:</p>
    <p><input type="text" name="id"/></p>

    <p>Name:</p>
    <p><input type="text" name="name"/></p>

    <p>Quantity:</p>
    <p><input type="text" name="quantity"/></p>

    <p>Price:</p>
    <p><input type="text" name="price"/></p>

    <p><input type="submit" value="submit"/></p>

</form>

<script>

</script>


</body>
</html>