<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>search</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <style>
table {
    width: 50%;
}
th {
    background: #f1f1f1;
    font-weight: bold;
    padding: 6px;
}
td {
    background: #f9f9f9;
    padding: 6px;
}

    </style>

</head>
<body>

<p><a href="{{ url_for('view') }}">View Product</a></p>

<form name="search_post" method="post">
    <p>Name:</p>
    <p><input type="text" name="name" id="name"/></p>
</form>

 <button onclick="myFunction()">Click me</button>

<table id="myTable">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
    </tr>
</table>


<script>
    function myFunction() {
    $("#myTable td").remove();
    var nameValue = document.getElementById("name").value;
    var formData = {name:nameValue};
   $.ajax({
    url: 'http://127.0.0.1:5000/search',
    dataType: 'json',
    type: "POST",
    data : formData,
    success: function(data) {
        for (var i=0; i<data.length; i++) {
            var row = $('<tr><td>' + data[i].id + '</td><td>' + data[i].name + '</td><td>' + data[i].price +'</td><td>' + data[i].quantity + '</td></tr>');
            $('#myTable').append(row);
        }
    },
    error: function(jqXHR, textStatus, errorThrown){
        alert('Error: ' + textStatus + ' - ' + errorThrown);
    }
});
   return true;
}


</script>


</body>
</html>